flows(1).json
[
    {
        "id": "9816ac7163353202",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a26f1b0eec7d4f4c",
        "type": "inject",
        "z": "9816ac7163353202",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "a25318c05adac43d",
                "b33fa551f6fda7b2"
            ]
        ]
    },
    {
        "id": "63ee6f95ab3a2d9c",
        "type": "debug",
        "z": "9816ac7163353202",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "a25318c05adac43d",
        "type": "function",
        "z": "9816ac7163353202",
        "name": "",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;\n//fin",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "63ee6f95ab3a2d9c",
                "352e30de10437590"
            ]
        ]
    },
    {
        "id": "352e30de10437590",
        "type": "ui_text",
        "z": "9816ac7163353202",
        "group": "64d762c5c8cd6269",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha - Label",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "b33fa551f6fda7b2",
        "type": "debug",
        "z": "9816ac7163353202",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "64d762c5c8cd6269",
        "type": "ui_group",
        "name": "Fecha - Group",
        "tab": "d2d1b71abc11cb11",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2d1b71abc11cb11",
        "type": "ui_tab",
        "name": "Fecha - Tab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]